<div>
    <section class="body-header">
        <h3>
            Installation abschließen
        </h3>
    </section>
    <section class="body-main">
        <p>
            easyDikt wurde auf Ihrem System installiert.
        </p>
        <div class="{{msgClass}}">
            {{message}}
        </div>
        <div class="progressClass">
            {{progress}}
        </div>
    </section>
    <section class="body-footer">
        <a href="" class="install-nav-btns" ng-click="closeInstaller()">Schließen</a>
    </section>
</div>