<div>
    <section class="body-header">
        <h3>
            Installation
        </h3>
    </section>
    <section class="body-main {{installInProgress}}">
        <p>
            Damit easyDikt den vollen Funktionsumfang nutzen kann, ist Drittsoftware erforderlich.
            Sie können diese Software auch zu einem späteren Zeitpunkt installieren.
        </p>
        <div>
            <div ng-click="installExternals('./content/data/Thunderbird_Setup_24.3.0.exe')" class="install-ext-option">
                Mozilla Thunderbird installieren
            </div>
            <div ng-click="installExternals('./content/data/switch_setup.exe')" class="install-ext-option">
                NCH Switch Converter installieren
            </div>
        </div>
        <div class="{{msgClass}}">
            {{message}}
        </div>
        <div class="progressClass">
            {{progress}}
        </div>
    </section>
    <div class="{{installInProgress}}">
        <img src="content/img/ajax-loader.gif">
    </div>
    <section class="body-footer">
        <a ui-sref="SetInstallDir" class="install-nav-btns">Zurück</a>
        <a href="" class="install-nav-btns" ng-click="doInstall()">easyDikt installieren</a>
    </section>
</div>