<div>
    <section class="body-header">
        <h3>
            Installationspfad wählen
        </h3>
    </section>
    <section class="body-main">
        <p>
            Stellen Sie sicher, dass Sie einen Ordner auswählen, in welchem Sie eine Installation ausführen dürfen.
        </p>
        <div>
            <path-selector default="installPath" isdir="true" dir="installPath"></path-selector>
        </div>
        <div class="{{msgClass}}">
            {{message}}
        </div>
        <div class="progressClass">
            {{progress}}
        </div>
    </section>
    <section class="body-footer">
        <a ui-sref="Welcome" class="install-nav-btns">Zurück</a>
        <a ui-sref="InstallExternals" class="install-nav-btns">Weiter</a>
    </section>
</div>