<div>
	<section class="body-header">
	    <h3>
	        Willkommen zu Ihrer easyDikt-Installation.
	    </h3>
	</section>
    <section class="body-main">
        <div class="{{msgClass}}">
            {{message}}
        </div>
        <div class="progressClass">
            {{progress}}
        </div>
    </section>
	<section class="body-footer">
	    <a ui-sref="SetInstallDir" class="install-nav-btns">Weiter</a>
	</section>
</div>