@import "vars.less";

html, body{
	height: 100%;
}

body{
	padding: 25px;
}

header.install-header{
	height: 10%;
}

div.install-body{
	height: 90%;
	>div{
		height: 100%;
		>section.body-header{
			height: 10%;
			>h3{
				margin: 0;
			}
		}
		>section.body-main{
			height: 70%;
		}
		>section.body-footer{
			height: 20%;
			line-height: 65px;
			text-align: right;
			>a.install-nav-btns{
				padding: 10px;
				background-color: @blue-light;
				color: white;
				&:hover{
					background-color: @blue-dark;
					text-decoration: none;
				}
			}
		}
	}
}

/* ===== INSTALL EXTERNALS ===== */
div.install-ext-option{
	padding: 10px;
	background-color: @blue-light;
	color: white;
	margin-bottom: 10px;
	&:hover{
		background-color: @blue-dark;
		cursor: pointer;
	}
}

section.install-true{
	display: none;
}

div.install-true{
	display: block;
	height: 70%;
	padding: 10% 45%;
}

div.install-false{
	display: none;
}