html,
body {
  height: 100%;
}
body {
  padding: 25px;
}
header.install-header {
  height: 10%;
}
div.install-body {
  height: 90%;
}
div.install-body > div {
  height: 100%;
}
div.install-body > div > section.body-header {
  height: 10%;
}
div.install-body > div > section.body-header > h3 {
  margin: 0;
}
div.install-body > div > section.body-main {
  height: 70%;
}
div.install-body > div > section.body-footer {
  height: 20%;
  line-height: 65px;
  text-align: right;
}
div.install-body > div > section.body-footer > a.install-nav-btns {
  padding: 10px;
  background-color: #00aedb;
  color: white;
}
div.install-body > div > section.body-footer > a.install-nav-btns:hover {
  background-color: #0068c4;
  text-decoration: none;
}
/* ===== INSTALL EXTERNALS ===== */
div.install-ext-option {
  padding: 10px;
  background-color: #00aedb;
  color: white;
  margin-bottom: 10px;
}
div.install-ext-option:hover {
  background-color: #0068c4;
  cursor: pointer;
}
section.install-true {
  display: none;
}
div.install-true {
  display: block;
  height: 70%;
  padding: 10% 45%;
}
div.install-false {
  display: none;
}
